@import "./Layout.module.scss";

.headerItemDiv{
    display: flex;
    flex-direction: column;
}

.headerItem{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    color: #858585;
    margin-right: 55px;
    text-decoration: none;
    text-align: start;
    margin-left: 5px;
}

.active{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    color: #8C10B8;
}

.dropdawnList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbarbtn .headerItem{
    margin-right: 0px;
}

.dropdawnOpen{
    background-color: #e9e9e9;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.26s ease;
}

.dropdawnClose{
    background-color: #FFFFFF;
    transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.26s ease;
}

.headerInclusive{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.navbarbtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 27px;
    color: #212529;
    margin-bottom: 15px;
}

.sectionInclusive{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar{
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('../img/navbarBG.svg');
    height: 100vh;
    filter: drop-shadow(0.892857px 0px 44.6429px rgba(0, 0, 0, 0.1));
    padding-bottom: 90px;
    .navbarContent{
        padding-top: 90px;
        padding-left: 90px;
    }
}

.section{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 50px;
    border: none;
    margin: 0px;
    height: 100vh;
    margin-left: 112px;
    & .inclusive{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .headerItemDiv{
            display: flex;
            flex-direction: column;           
            & .headerItem{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 27px;
                color: #858585;
                margin-right: 55px;
                text-decoration: none;
            }
            & .active{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 27px;
                color: #8C10B8;
                text-align: start;
            }
        }
    }
}

.sideContent{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 60px;

    & .profilCard{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 50px;

        & .profilImg{
            box-sizing: border-box;
            width: 80px;
            height: 80px;
            border: 1px solid #E9ECEF;
            filter: drop-shadow(0px 0px 3px rgba(60, 72, 88, 0.15));
            border-radius: 50px;
            margin-right: 19px;
        }

        & .profilName{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #212529;
            ;
        }

        & .profilTag{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #858585;
        }
    }
}

.contentInclusive{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1238px;

    & .reservationInclusive{
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
        margin-top: 35px;

        & .reservationTitle{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 1px solid #D9D9D9;

            & .resTitle{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
                color: #212529;
            }

            & .resNumber{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
                color: #858585;
            }
        }
    
        & .clientCard{
            display: flex;
            flex-direction: row;   
            width: 234.62px;
            margin-top: 33px;

            & .clientImg{
                box-sizing: border-box;
                border: 1px solid #E9ECEF;
                filter: drop-shadow(0px 0px 3px rgba(60, 72, 88, 0.15));
                border-radius: 22.5px;
                margin-right: 16px;
            }
        
            & .clientContent{
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                & .clientTitle{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 22px;
                    color: #212529;
                    text-align: start;
                }

                & .clientText{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13.5px;
                    line-height: 20px;
                    color: #858585;
                    text-align: start;
                }
            }
        }
    }
}

.carouselText{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #858585;
    margin-top: 15px;
    margin-bottom: 15px;
}

.carouselName{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #858585;
}

.sponsorContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    mix-blend-mode: luminosity;
    padding-left: 45px;
    padding-right: 45px;
    align-items: center;
}

.mobileRowDiv{
    display: none;
}

.none{
    display: none;
}

.isLoading{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #e9e9e9;
    & .isloadingImg{
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        z-index: 101;
        animation: spin 4s linear infinite;
        width: 75px;
        height: 75px;
    }
    & .isloadinglogo{
        position: absolute;
        top: calc(44% - 50px);
        left: calc(50% - 150px);
        z-index: 101;
    }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reservationPageInclusive{
    width: 1200px;
    height: 766px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & .reservationPageContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        & .reservationPageFirstColumn{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 275px;
        }

        & .reservationPageColumn{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 13.7581px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #212529;
            border-bottom: 0.978358px solid #E9ECEF;
            box-sizing: border-box;
            justify-content: center;
            padding-bottom: 15px;
            padding-top: 15px;
            height: 70px;

            & .clientCard{
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            & .reservationPageBtn{
                box-sizing: border-box;
                width: 33.02px;
                height: 33.02px;
                background: rgba(240, 115, 90, 0.1);
                border: 0.917208px solid rgba(240, 115, 90, 0.1);
                box-shadow: 0px 2.75162px 4.58604px rgba(240, 115, 90, 0.3);
                border-radius: 27.5162px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .reservationPageBtnCheck{
                box-sizing: border-box;
                width: 33.02px;
                height: 33.02px;
                background: rgb(102 47 36 / 10%);
                border: 0.917208px solid rgb(102 47 36 / 10%);
                box-shadow: 0px 2.75162px 4.58604px rgb(102 47 36 / 10%);
                border-radius: 27.5162px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            & .reservationPageBtnLogIn{
                box-sizing: border-box;
                width: 33.02px;
                height: 33.02px;
                background: rgba(0, 179, 131, 0.1);
                border: 0.917208px solid rgba(0, 179, 131, 0.1);
                box-shadow: 0px 2.75162px 4.58604px rgba(0, 179, 131, 0.1);
                border-radius: 27.5162px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .reservationPageInclusive{
        width: 1200px !important;
    }
    .overflowdiv{
        overflow: hidden;
        width: 100%;
    }
}
@media screen and (max-width: 1919px) {
    .reservationPageInclusive{
        width: 1200px !important;
    }
    .overflowdiv{
        overflow: hidden;
        width: 100%;
    }
}
@media screen and (max-width: 1519px) {
    .reservationPageInclusive{
        width: 1000px !important;
    }
    .overflowdiv{
        overflow: scroll;
        width: 100%;
    }
}
@media screen and (max-width: 991px) {
    .reservationPageInclusive{
        width: 756px !important;
    }
    .overflowdiv{
        overflow: scroll;
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .overflowdiv{
        overflow: scroll;
        width: 450px;
    }
}


.paginationDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .paginatinBarTitle{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13.641px;
        line-height: 22px;
        color: #8492A6;
    }
}

@media screen and (min-width: 1920px) {
    .contentInclusive .sideContent{
        display: none;   
    }
    .contentInclusive .sponsorContent{
        display: none;
    }
    .headerSection{
        display: none !important;
    }
    .dropdawnClose{
        display: none;
    }
}

@media screen and (max-width: 1919px) {
    .contentInclusive{
        width: 843px;
    }
    .mobileRowDiv{
        display: none;
    }
    .hamburgerMenu{
        display: none;
    }
    .contentInclusive .sideContent{
        display: none;   
    }
    .contentInclusive .sponsorContent{
        display: none;
    }
    .headerSection{
        display: none;
    }
    .dropdawnClose{
        display: none;
    }
    .reservationInclusive{
        width: 926px !important;
    }
}

@media screen and (max-width: 1519px) {
    .contentInclusive{
        width: 843px;
    }
    .inclusive{
        flex-direction: column !important;
    }
    .profilCard{
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .mobileRowDiv{
        display: none;
    }
    .hamburgerMenu{
        display: flex !important;
    }
    .headerItemDiv, .headerBtn {
        display: none !important;
    }
    .reservationInclusive{
        margin-bottom: 100px !important;
    }
    .navbar{
        display: none;
    }
    .section{
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }
    .contentInclusive .sideContent{
        display: flex;   
        margin-top: 0px;
    }
    .contentInclusive .sideContent .profilCard{ 
        margin-top: 0px;
    }
    .contentInclusive .sponsorContent{
        display: flex;   
        margin-bottom: 60px;   
    }
    .headerSection{
        display: block;
    }
    .dropdawnClose{
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .contentInclusive{
        width: 450px;
    }
    .mobileRow{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .mobileRowDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 33px;
    }
    .hamburgerMenu{
        display: flex !important;
    }
    .headerItemDiv, .headerBtn {
        display: none !important;
    }
    .reservationInclusive{
        margin-bottom: 100px !important;
    }
    .contentInclusive .sideContent{
        display: flex;   
        margin-top: 0px;
    }
    .contentInclusive .sideContent .profilCard{ 
        margin-top: 0px;
    }
    .contentInclusive .sponsorContent{
        display: flex;   
        margin-bottom: 60px;   
    }
    .section{
        height: 100%;
    }
    .headerSection{
        display: block;
    }
    .dropdawnClose{
        display: block;
    }
}