@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@300;600&display=swap');
/*font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;*/
@import url("./Layout.module.scss");
@import url("./prelight.css");

body {
    padding: 0px !important;
    margin: 0px !important;
}

button { 
    border: none;
}

details{
    background-color: none;
    font-size: 1.5rem;
    border: 1px solid #3C009E;
    box-sizing: border-box;
    transition: 0.5s;
  }
  
  summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;  
    transition: height 1s ease;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #E8E6E3;
    transition: 0.5s;
    z-index: 3;
}
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary:after{
    content: "\002B";
    transition: 0.5s;
  }
  
  details[open] summary {
    margin-bottom: .5em;
    transition: 0.2s;
  }
  
  details[open] summary:after{
    content: "\00D7";
  }
  
  details[open] div{
    padding: .5em 1em;
  }